* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

h4 {
  color: #FFF;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 5px;
}

h4 span {
  color: #D434FE;
}

body {
  padding: 0 30px;
  background-color: #150E28;
  background-image: url('Asset/Purple-lens.png'),url('Asset/Purple.png');
  background-repeat: no-repeat;
  background-position: 500px 100px, -500px 50px;
  background-blend-mode: hard-light;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
 }
 
 .nav {
   display: flex;
   justify-content: space-between;
   flex-basis: 60%;
 }
 
 .hamburger {
   display: none;
 }
 
.mobile_menu {
  display: none;
}

.cancel {
  float: right;
  margin: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid transparent;
  border-bottom-color: #9F37FE;
  border-left-color: #9F37FE;
  border-top-color: #F429CB;
  border-right-color: #F429CB;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.mob_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-top: 50px;
}

.mob_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob_menu a {
  text-decoration: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0;
}

.mob_nav .btn {
  margin-top: 40px;
}

.logo p {
  color: #FFF;
  font-family: Clash Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo p  span {
  color: #D434FE;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
}

.menu a {
  text-decoration: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register {
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(270deg, #9F37FE,#F429CB);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0;
}

section {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 150px 20px 0;
}

.contact_us {
  flex-basis: 30%;
}

.contact_us h4 {
  color: #D434FE;
font-family: Clash Display;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.contact_us p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 10px 0;
  line-height: normal;
}

address {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
}

.social_media {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  align-items: flex-start;
}

.social_media p {
  color: #D434FE;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.social_media div {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap: 2px;
}

form {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  border-radius: 12px;
  background: rgba(255,255,255,.03);
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,.25);
  padding: 40px;
}

form h5 {
  color: #D434FE;
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

form input,
textarea {
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
}

form input::placeholder, 
textarea::placeholder {
  color: #fff;
}

button {
  width: 30%;
  border: 0;
  background: linear-gradient(270deg, #9F37FE,#F429CB);
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
  align-self: center;
}



.topL {
  position: absolute;
  top: -80px;
  left: 15px;
}

.bottomR {
  position: absolute;
  bottom: 100px;
  left: 420px;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.topR {
  position: absolute;
  top: -100px;
  right: 15px;
}

.imgSize {
  width: 15px;
  height: 20px;
}





@media (max-width:500px) {
  
  body {
    background-image:url('Asset/Purple.png');
    background-size: 400px;
    background-position: -150px 70px;
  }
  
  .nav {
    display: none;
  }
  
   .mobile_menu {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #150E28;
    z-index: 100;
  }
  
  .hide {
    display: none;
  }
  
  .hamburger {
    display: block;
  }
  
  section{
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .contact_us {
    margin-top: 50px;
  }
  
  form {
    width: calc(100% - 30px);
  }
  
  .social_media {
    width: 100%;
    align-items: center;
  }
 
 .social_media div {
   width: 50%;
   margin-bottom: 15px;
 }
 
 
 
 .topL {
  position: absolute;
  top: -80px;
  left: 150px;
  width: 10px;
  height: 15px;
}

.bottomR {
  position: absolute;
  bottom: 430px;
  left: -10px;
  width: 10px;
  height: 15px;
}

.bottom {
  position: absolute;
  bottom: 500px;
  right: -15px;
  width: 10px;
  height: 15px;
}

.topR {
  position: absolute;
  top: 70px;
  right: -10px;
  width: 10px;
  height: 15px;
}
}